<footer class="bg-transparent h-24 sticky top-[100vh]">
    <div class="w-full mx-auto">
        <p class="text-center text-white py-7 px-2">Derechos Reservados (c) 2023 | Desarrollado por <a href="" class="text-yellow font-semibold">FG-FUllstack</a></p>
    </div>
</footer>