<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Trabajos de impresión 3D, llaveros, soportes para celulares, identificadores para mascotas entre otros, su consulta no molesta.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/Frangia22/Portfolio/5be067ff404d04846a7bac7f9a3f6d8af12e76f2/static/img/fg-dev.svg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>