<section class="bg-violet-500 lg:w-1/2 mx-auto my-10">
    <form action="/addservice" class="w-1/2 mx-auto p-4" method="post">
        <label for="nombre" class="flex flex-col py-2">
            Nombre
            <input id="nombre" type="text" name="name" placeholder="Nombre del servicio" class="rounded-2xl py-2 px-4 my-2 font-sans" autocomplete="name">
        </label>     
        <label for="iconService" class="flex flex-col py-2">
            Ruta icono servicio
            <div class="flex flex-row-reverse">
                <input id="iconService" type="text" placeholder="../images/sinImagen.webp" name="iconService" class="rounded-2xl py-2 px-4 my-2 w-full font-sans" autocomplete="off">
            </div>
        </label>
        <label for="details" class="flex flex-col py-2">
            Detalles
            <div class="flex flex-row-reverse">
                <textarea id="details" type="text" placeholder="Separe los detalles con ;" name="details" class="rounded-2xl py-2 px-4 my-2 w-full font-sans" autocomplete="off" cols="15" rows="3"></textarea>
            </div>
        </label>
        <button type="submit" class="bg-yellow-500 py-2 px-6 rounded-xl mt-2 font-bold text-violet hover:text-white mx-auto flex">Agregar Servicio</button>
    </form>
</section>