<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <section class="w-full h-96 bg-portada flex items-center justify-center">
      <h1 class="text-white text-3xl w-2/4 text-center">Transformando ideas en realidad, con impresión 3D y grabado láser</h1>
    </section>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
